*{
    font-family: Arial, Helvetica, sans-serif;
}

a[rel='nofollow'] {
    background-color: red;
}

button {
    border: 1px solid black;
    background-color: #f4f;
    transition: 2s transform;
}

button:active {
    transform: scale(2) rotate(90deg);
}

p:first-child {
    text-indent: 20px;
}

p:last-child {
    word-spacing: 30px;
}

.shopping-list::before {
    content: "lista zakupów";
    font-size: 10px;
    color: #888;
    margin-left: -20px;
}

.shopping-list {
    font: bold 12px/1.5em Arial, Helvatica, sans-serif;
}

p a[href]::after {
    content: "";
    display: inline-block;
    margin-left: 6px;
    border: 10px solid transparent;
    border-left-color: green;
    vertical-align: middle;
}

.bg {
    width: 300px; height: 400px;
    background-color: yellow;
}

.bg > div {
    width: 100%; height: 30%;
    position: relative; right: -50px
}

.bg-rgba {
    background-color: rgba(255, 0, 0, 0.5);
}

.bg-rgba::after {
    content: "background-color: rgba(255, 0, 0, 0.5) ";
    color: #333;
    margin-left: 300px;
    font-weight: bold;
    position: absolute;
}

.bg-opacity {
    background-color: rgba(255, 0, 0);
    opacity: 0.5;
}

.bg-opacity::after {
    content: "Opacity: 0.5";
    color: #333;
    margin-left: 300px;
    font-weight: bold;
    position: absolute;
}

.bg-opacity::after::before {
    content: "before content";
}

.bg-image {
    background-image: url(./cat-image.jpg);
    background-color: gray;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: bottom right;
}

.container-relative {
    display: inline-block;
    border: 1px solid red;
    margin-bottom: 100px;
}

.box-relative {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; height: 100px;
    background: rgba(0, 250, 0, .5);
    position: relative;
    bottom: -50px;
    right: -50px; 
}

.container-row {
    margin: 50px;
}
.flex-container {
    display: flex;
    flex-direction: row;
}

.container-absolute {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    position: relative;
}

.box-absolute {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; height: 100px;
    background: rgba(0, 250, 0, .5);
    position: absolute;
    bottom: -50px;
    right: -50px;
}

